html,
body {
  font-family:Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

body {
  direction: rtl;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-btn {
  border: none;
  background-color: transparent;
  font-size: 120px;
  position: absolute;
  top: 50px;
  left: 20px;
  display: none;
  width:150px;
}

.back-btn.show {
    display: block;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  position: relative;
}

.boxes > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 3px;
  flex: 1;
  min-height: 800px;
  min-width: 450px;
}

.boxes > div.active {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.boxes > div.active img {
  filter: brightness(0) invert(1);
}

img {
  width: 290px;
  max-width: 100%;
}

#DogPark {
  height: 700px;
  width: 50%;
  border: black solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

h3 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

h1 {
  font-size: 50px;
}

#accessability {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 930px) {
  .boxes > div {
    min-height: 400px;
    min-width: 40%;
  }
}