html,
body {
  font-family:Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body {
  direction: rtl;
  font-size: 1.3em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 100px;
  left: 0px;
  display: none;
  width:80px;
  margin: 0;
  padding: 0;
}

.color_yellow .back-btn {
  fill: yellow
}

.back-btn.show {
    display: block;
}

.title {
  height: 182px;
  padding-right: 12px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  position: relative;
  height: calc(100vh - 202px);
}

.boxes > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 3px;
  flex: 1;
  min-width: 450px;
  margin: 0; /* test */
}

.boxes.active > button {
  display: none;
}

.color_yellow .boxes > button {
  border: yellow solid 3px;
  fill: yellow;
  background-color: #000;
}

.boxes > button.active {
  display: flex;
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: #000;
}

.boxes > button > svg {
  width: 80%;
}

.boxes > button.active svg {
  fill: #fff;
}

.color_yellow .boxes > button.active svg {
  fill: yellow;
}

img {
  width: 140px;
  max-width: 100%;
}

#DogPark {
  height: 700px;
  width: 50%;
  border: black solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#fishImg {
  width: 70%;
}

h3 {
  font-size: 1.1em;
}

h2 {
  font-size: 1.1em;
}

h1 {
  font-size: 1.3em;
}

#accessability {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 930px) {
  .boxes > button {
    min-width: 40%;
  }
}

button.acc_icon {
  border: none;
  background: none;
  width: 31px;
  height: 30px;
  padding: 0;
}

.accessibility {
  position: fixed; 
  top: 20px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 6px;
  border-radius: 0 12px 12px 0;
  border: 2px solid black;
  border-left: none;
}

.color_yellow .accessibility {
  background-color: #000;
  color: yellow;
  border-color: yellow;
  fill: yellow;
}

.accessibility_menu {
  display: none;
  background-color: lightgrey;
  width: 300px;
  height: 226px;
  content: ' ';
  position: absolute;
  left: 44px;
  top: 0px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #000;
}

.buttons_container {
  width: 186px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin: 20px 18%;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.buttons_container button {
  color: #000;
}

.btn_acc_font {
  width: 64px;
  border: none;
  background-color: initial;
}

.btn_acc_font.selected {
  /* border-bottom: 2px solid black; */
}

.btn_acc_big {
  font-size: 43px;
}

.btn_acc_mid {
  font-size: 30px;
}

.btn_acc_small {
  font-size: 20px;
}

.btn_acc_color {
  width: 115px;
  height: 35px;
  border: none;
  box-shadow: 0 1px 2px #000;
  border-radius: 9px;
}

button.btn_acc_yellow {
  background: black;
  color: yellow;
  font-weight: 700;
}

.btn_acc_white {
  background-color: white;
  font-weight: 700;
}

.font_big {
  font-size: 1.4em;
}

.font_mid {
  font-size: 1.3em;
}

.font_small {
  font-size: 1.2em;
}

.color_yellow {
  background-color: #000;
  color: yellow;
}

.blur_screen {
  display: none;
  position: fixed;
  width: 100vh;
  height: 100vh;
  background-color: #000000aa;
  content: ' ';
  top: 0;
  left: 0;
}

.show {
  display: block;
}

.close_acc_btn {
  width: 50px;
  position: absolute;
  left: 0;
  fill: #000;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}

#someTest {
  color: white;
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
}