html,
body {
  font-family:Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body {
  direction: rtl;
  font-size: 1.3em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 185px;
  left: 0px;
  display: none;
  width:80px;
  margin: 0;
  padding: 0;
}

.back-btn.show {
    display: block;
}

.back-btn svg {
  fill: #fff;
}

.title {
  height: 182px;
  padding-right: 12px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: calc(100vh - 182px);
}

.boxes > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 3px;
  flex: 1;
  min-width: 450px;
  margin: 0; /* test */
}

.boxes.active > button {
  display: none;
}

.boxes > button.active {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.boxes > button > svg {
  width: 80%;
}

.boxes > button.active svg {
  fill: #fff;
  width: 66%;
  position: relative;
  top: -17%;
}

img {
  width: 140px;
  max-width: 100%;
}

#DogPark {
  height: 700px;
  width: 50%;
  border: black solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#fishImg {
  width: 70%;
}

h3 {
  font-size: 1.1em;
}

h2 {
  font-size: 1.1em;
}

h1 {
  font-size: 1.3em;
}

@media screen and (max-width: 930px) {
  .boxes > button {
    min-width: 40%;
  }
}

.audio_panel {
  position: absolute;
  display: none;
  bottom: 80px;
  width: 100%;
  justify-content: space-around;
}

.audio_panel button {
  background: none;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #fff;
  display: none;
  align-items: center;
  justify-content: center;
}

.side-btn {
  position: fixed; 
  top: 20px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 6px;
  border-radius: 0 12px 12px 0;
  border: 2px solid black;
  border-left: none;
  z-index: 0;
}

.settings {
  /* position: fixed; 
  top: 20px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 6px;
  border-radius: 0 12px 12px 0;
  border: 2px solid black;
  border-left: none;
  z-index: 0; */
}

.settings_menu {
  display: none;
  background-color: lightgrey;
  width: 300px;
  height: 200px;
  content: ' ';
  position: absolute;
  left: 44px;
  top: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #000;
  padding-top: 10px;
  z-index: 3;
}

button.settings_icon {
  border: none;
  background: none;
  width: 31px;
  height: 30px;
  padding: 0;
  padding-top: 2px;
  position: absolute;
  z-index: 1;
}

.btn_settings {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: .5;
  border: none;
  box-shadow: 0 1px 2px #000;
  border-radius: 9px;
}

.btn_settings.selected {
  opacity: 1;
  background-color: #000;
  color: #fff;
}

.side-btn.info {
  /* position: fixed;  */
  top: 70px;
  /* left: 0px;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 6px;
  border-radius: 0 12px 12px 0;
  border: 2px solid black;
  border-left: none;
  z-index: 0; */
}

.info_menu {
  display: none;
  background-color: lightgrey;
  width: 90%;
  max-height: 90%;
  content: ' ';
  position: absolute;
  left: 5%;
  top: 5%;
  border-radius: 5px;
  box-shadow: 0 1px 2px #000;
  padding-top: 10px;
  z-index: 3;
  overflow-y: scroll;
  padding-bottom: 20px;
}

button.info_icon {
  border: none;
  background: none;
  width: 31px;
  height: 30px;
  padding: 0;
  padding-top: 2px;
  position: absolute;
  z-index: 1;
}

.btn_info {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: .5;
  border: none;
  box-shadow: 0 1px 2px #000;
  border-radius: 9px;
}

.btn_settings.selected {
  opacity: 1;
  background-color: #000;
  color: #fff;
}

.buttons_container {
  width: 196px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px 18%;
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.buttons_container button {
  color: #000;
}

.blur_screen {
  display: none;
  position: fixed;
  width: 100vh;
  height: 100vh;
  background-color: #000000aa;
  content: ' ';
  top: 0;
  left: 0;
  z-index: 2;
}

.show {
  display: block;
}

.show_flex {
  display: flex !important;
}

.close_acc_btn {
  width: 50px;
  position: absolute;
  left: 0;
  fill: #000;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  margin-top: -10px;
}

#accessability_text {
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  text-align: center;
}

.info_menu p {
  text-align: center;
  padding: 0 15px;
  font-size: 14pt;
}

.project_title img{
  width: 88px;
}

.details_n_logo {
  display: flex;
}

.details_n_logo .logo {
  margin-right: 15px;
  min-width: 100px;
  max-width: 100px;
}

.details_n_logo .logo img {
  /* width: 100px; */
}

.details_n_logo .details {
  margin-right: 15px;
  padding-left: 15px;
}

.details_n_logo .details .title {
  height: auto;
  text-align: right;
  font-size: 12pt;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.details_n_logo .details .text {
  text-align: right;
  font-size: 12pt;
  padding: 0;
  margin: 0;
}

.info header {
  background-color: #999;
  font-size: 12pt;
  text-align: center;
  padding: 3px 0;
 }

.info footer {
 background-color: #999;
 font-size: 12pt;
 text-align: center;
 padding: 3px 0;
}